@import "@/assets/css/mixin.scss";

.add-article {
    height: 100vh;
    overflow: auto;
    $border: 1px solid #d9d9d9;
    border: $border;
    border-left: none;
    cursor: pointer;

    .add-btn {
        padding: 20px;
        border-bottom: $border;

        .add-btn-icon {
            padding-right: 5px;
        }
    }

    .article-ul {

        margin-bottom: 0;

        li {
            padding: 15px 30px 15px 57px;
            border-left: 3px solid transparent;
            border-bottom: $border;
            @include ellipsis;
            position: relative;

            &:hover {
                background: #e6e6e6;
                border-left-color: #ec7259;
            }

            .article-icon {
                position: absolute;
                left: 17px;
                top: 15px;
                font-size: 25px;
            }

            .setting-icon {
                position: absolute;
                right: 10px;
                top: 19px;
            }


        }
    }
}