// 设置显示高度为屏幕高度
.ant-layout {
    height: 100vh;
}

// 所有按钮
.ant-btn {
    +.ant-btn {
        margin-left: 10px;
    }
}

//提交按钮
.btn-commit {
    color: #42c02e !important;
    border-color: #42c02e !important;

    &:hover {
        background-color: #40453f !important;
    }
}

//取消按钮
.btn-cancel {
    border: none !important;

    &:hover {
        color: #b3b3b3 !important;
    }
}

//去除input框边框样式
.rm-antd-border {
    &:focus {
        outline: none;
    }

    &:hover {
        .ant-input {
            border: none;
        }
    }

    .ant-input {
        transition: none;

        &:focus {
            box-shadow: none;
        }

    }

}

// 弹出的编辑框
.operate-pop {
    .ant-popover-inner-content {
        padding: 0;
    }

    ul {
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 0;

        li {
            padding: 10px 15px;
            font-weight: bold;
            cursor: pointer;

            i {
                margin-right: 5px;
            }

            &:first-child {
                border-bottom: 1px solid #d9d9d9;
            }

            &:hover {
                background: #666;
                color: white;
            }
        }

    }
}